<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <table class="j-table">
      <thead>
        <th>ID</th>
        <th>Name</th>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <a href="/users/<%= user.id %>"><%= user.name %></a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
