<!DOCTYPE html>
<html>
  <head>
    <title>User Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User Detail</h1>
    <table class="j-table">
      <tbody>
        <%_ Object.entries(userData).forEach(([key, val]) => { _%>
          <tr>
            <th><%= key %></th>
            <td><%- val %></td>
          </tr>
        <%_ }); _%>
      </tbody>
    </table>
  </body>
</html>
